In [1]:
from mysql import connector

In [2]:
mydb = connector.connect(
    host="localhost",
    user="root",
    password="root",
    port = "3306"
)

print(mydb)
cursor = mydb.cursor()

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000198DFA4E7E0>

In [3]:
cursor.execute("SHOW DATABASES")
cursor.fetchall()

[('debi',),
 ('information_schema',),
 ('mysql',),
 ('omar',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

# Create Database

In [4]:
cursor.execute("DROP DATABASE debi")
cursor.execute("SHOW DATABASES")
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('omar',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [5]:
cursor.execute("CREATE DATABASE debi")
cursor.execute("SHOW DATABASES")
cursor.fetchall()

[('debi',),
 ('information_schema',),
 ('mysql',),
 ('omar',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

cursor.execute("SHOW DATABASES")
cursor.fetchall()

In [6]:
cursor.execute("USE debi")

In [7]:
cursor.execute("SHOW TABLES")
cursor.fetchall()

[]

In [8]:
mydb.close()

In [9]:
debi_db = connector.connect(
    host="localhost",
    username="root",
    password="root",
    database="debi",
)
print(debi_db)

cursor = debi_db.cursor()
cursor.execute("SHOW DATABASES")
cursor.fetchall()

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000198DFBC2EA0>

[('debi',),
 ('information_schema',),
 ('mysql',),
 ('omar',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

# Create table

In [10]:
cursor.execute("CREATE TABLE employee (name VARCHAR(20), ID VARCHAR(20), DOB DATE);")

In [11]:
# list all tables
cursor.execute("SHOW TABLES")
cursor.fetchall()

[('employee',)]

In [12]:
# lis all columns in a table
cursor.reset()
cursor.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'employee';")
cursor.fetchall()

[('name',), ('ID',), ('DOB',), ('name',), ('ID',), ('DOB',), ('Address',)]

In [13]:
# Drop a table
cursor.execute("DROP TABLE employee")
cursor.execute("SHOW TABLES")
cursor.fetchall()

[]

ALtering columns configs

In [14]:
cursor = debi_db.cursor()
cursor.execute("CREATE TABLE employee (name VARCHAR(20), ID VARCHAR(20), DOB DATE);")

In [15]:
cursor.execute("ALTER TABLE employee ADD COLUMN Address VARCHAR(50);")

In [16]:
# lis all columns in a table
cursor.reset()
cursor.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'employee';")

In [17]:
cursor.fetchall()

[('name',),
 ('ID',),
 ('DOB',),
 ('Address',),
 ('name',),
 ('ID',),
 ('DOB',),
 ('Address',)]

Insert

In [18]:
cursor.execute("INSERT INTO employee (name, ID, DOB, Address) VALUES ('Omar', '123', '2001-10-01', '6 October');")

In [19]:
cursor.execute("INSERT INTO employee (Name,ID,DOB) VALUES ('Islam','123','1993-03-25')")

In [20]:
cursor.execute("SELECT * FROM employee")
for x in cursor:
    print(x)

('Omar', '123', datetime.date(2001, 10, 1), '6 October')
('Islam', '123', datetime.date(1993, 3, 25), None)

Insert Many rows

In [21]:
query = "INSERT INTO employee (name, ID, DOB, Address) VALUES (%s, %s, %s, %s)"

values = [
    ('Ahmed', '123', '1993-03-25', 'zayed'),
    ('Ali', '123', '1993-03-25', 'Giza'),
    ('Mohamed', '123', '1993-03-25', 'Maadi'),
    ('Hassan', '123', '1993-03-25', 'Nasr City'),
    ('Khaled', '123', '1993-03-25', '6 October'),
]

cursor.executemany(query, values)

In [22]:
cursor.execute("SELECT * FROM employee")
cursor.fetchall()

[('Omar', '123', datetime.date(2001, 10, 1), '6 October'),
 ('Islam', '123', datetime.date(1993, 3, 25), None),
 ('Ahmed', '123', datetime.date(1993, 3, 25), 'zayed'),
 ('Ali', '123', datetime.date(1993, 3, 25), 'Giza'),
 ('Mohamed', '123', datetime.date(1993, 3, 25), 'Maadi'),
 ('Hassan', '123', datetime.date(1993, 3, 25), 'Nasr City'),
 ('Khaled', '123', datetime.date(1993, 3, 25), '6 October')]