In [1]:
from mysql.connector import connect

mydb = connect(
    user="root",
    password="root",
    host="localhost",
    database = "debi"
)
mydb.is_connected()

True

In [2]:
cursor = mydb.cursor()
cursor.execute("SHOW TABLES")
for x in cursor:
    print(x)

('customer',)
('employee',)
('info',)
('mobile',)
('salaries',)
('salary',)

In [3]:
cursor.execute("""
    CREATE VIEW second_five
    AS SELECT * FROM mobile
    WHERE id BETWEEN 6 AND 10
""")

In [4]:
cursor.execute("SHOW COLUMNS FROM mobile")
columns = [column[0] for column in cursor.fetchall()]
print(columns)
cursor.execute("""
SELECT * FROM second_five
""")

for d in cursor:
    print(d)

['id', 'battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g', 'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height', 'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g', 'touch_screen', 'wifi']
(6, 1464, 1, 2.9, 1, 5, 1, 50, 0.8, 198, 8, 9, 569, 939, 3506, 10, 7, 3, 1, 1, 1)
(7, 1718, 0, 2.4, 0, 1, 0, 47, 1.0, 156, 2, 3, 1283, 1374, 3873, 14, 2, 10, 0, 0, 0)
(8, 833, 0, 2.4, 1, 0, 0, 62, 0.8, 111, 1, 2, 1312, 1880, 1495, 7, 2, 18, 0, 1, 1)
(9, 1111, 1, 2.9, 1, 9, 1, 25, 0.6, 101, 5, 19, 556, 876, 3485, 11, 9, 10, 1, 1, 0)
(10, 1520, 0, 0.5, 0, 1, 0, 25, 0.5, 171, 3, 20, 52, 1009, 651, 6, 0, 5, 1, 0, 1)

In [5]:
cursor.execute("""
    SELECT * FROM salaries

""")
for d in cursor:
    print(d)

(1, 'Alice', 50000)
(2, 'Bob', 60000)
(3, 'Charlie', 70000)
(6, 'Hassan', 50000)

In [6]:
cursor.execute("""
    CREATE VIEW salaries_names AS
    SELECT i.name, i.age, s.salary
    FROM info i 
    INNER JOIN salaries s ON i.id=s.id

""")

In [7]:
cursor.execute("SHOW COLUMNS FROM salaries_names")
columns = [column[0] for column in cursor.fetchall()]
print(columns)
cursor.execute("""
SELECT * FROM salaries_names
""")

for d in cursor:
    print(d)

['name', 'age', 'salary']
('Alice', 25, 50000)
('Bob', 30, 60000)
('Charlie', 35, 70000)

DATE TIME Functions

In [8]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS datetime_practice (
        id INT AUTO_INCREMENT PRIMARY KEY,
        event_name VARCHAR(255),
        event_date DATE,
        event_time TIME,
        event_timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    )
""")
print("Table 'datetime_practice' created successfully.")

Table 'datetime_practice' created successfully.

In [9]:
cursor.execute("""
    INSERT INTO datetime_practice (event_name, event_date, event_time)
    VALUES 
    ('Event 1', '2023-10-01', '10:00:00'),
    ('Event 2', '2023-10-02', '11:00:00'),
    ('Event 3', '2023-10-03', '12:00:00')
""")
mydb.commit()
print("Data inserted successfully.")

Data inserted successfully.

In [10]:
cursor.execute("""
    SELECT DAY(event_date) FROM datetime_practice
""")

for d in cursor:
    print(d)

(1,)
(2,)
(3,)

In [11]:
cursor.execute("""
    SELECT event_timestamp FROM datetime_practice
""")

for d in cursor:
    print(d)

(datetime.datetime(2025, 3, 8, 15, 11, 1),)
(datetime.datetime(2025, 3, 8, 15, 11, 1),)
(datetime.datetime(2025, 3, 8, 15, 11, 1),)

In [12]:
cursor.execute("""
    SELECT DATE_ADD(event_date, INTERVAL 3 DAY) FROM datetime_practice
""")

for d in cursor:
    print(d)

(datetime.date(2023, 10, 4),)
(datetime.date(2023, 10, 5),)
(datetime.date(2023, 10, 6),)

In [13]:
cursor.execute("""
    SELECT FROM_DAYS(DATEDIFF(CURRENT_DATE, event_date)) FROM datetime_practice
""")

for d in cursor:
    print(d)

(datetime.date(1, 6, 8),)
(datetime.date(1, 6, 7),)
(datetime.date(1, 6, 6),)

Magic Line

In [14]:
%pwd
%ls

 Volume in drive F has no label.
 Volume Serial Number is 0080-D60E

 Directory of f:\studying\courses\AI\projects\DEBI1\SQL

03/08/2025  03:00 PM    <DIR>          .
03/07/2025  01:12 AM    <DIR>          ..
03/08/2025  02:29 PM    <DIR>          data
03/01/2025  04:33 PM            10,292 Session1.ipynb
03/08/2025  02:38 PM           328,653 Session2.ipynb
03/08/2025  03:00 PM            15,486 Session3.ipynb
03/08/2025  03:13 PM             7,932 Session4.ipynb
               4 File(s)        362,363 bytes
               3 Dir(s)  722,086,592,512 bytes free

In [15]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\omar\miniconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\omar\miniconda3\lib\site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in c:\users\omar\miniconda3\lib\site-packages (from ipython-sql) (8.29.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\omar\miniconda3\lib\site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in c:\users\omar\miniconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\omar\miniconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\omar\miniconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\omar\miniconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\omar\miniconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: decorator in c:\users\omar\miniconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\omar\miniconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\omar\miniconda3\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\omar\miniconda3\lib\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\omar\miniconda3\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\omar\miniconda3\lib\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\omar\miniconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\omar\miniconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\omar\miniconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\omar\miniconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\omar\miniconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\omar\miniconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\omar\miniconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)

In [16]:
%load_ext sql

In [17]:
%sql mysql+mysqlconnector://root:root@localhost/debi

In [18]:
%sql select * from mobile

 * mysql+mysqlconnector://root:***@localhost/debi
1000 rows affected.

KeyError: 'DEFAULT'